:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-button: #FFFFFF;
    --bg-button: #008BFE;
    --bg-button-hover: #006FCB;
    --default-font-weight: 400;
    --bold-font-weight: 700;
    --big-font-size: 24px;
    --small-font-size: 16px;
    --small-line-height: 24px;

    --project-font: "Roboto";
}

body {
    font-family: var(--project-font), sans-serif;
}

